@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('images/bg-pattern-top.svg'),
		url('images/bg-pattern-bottom.svg');
	background-position: top left, right bottom;
	background-repeat: no-repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-color: hsl(185, 75%, 39%);
	height: 100vh;
	width: 100vw;
	font-family: 'Kumbh Sans';
	font-size: 18px;
	color: hsl(220, 23%, 23%);
}

p {
	color: hsl(227, 10%, 46%);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 415px;
	width: 27%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 12px;
}

.top-img {
	border-radius: 12px 12px 0 0;
	width: 100%;
}

.container h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.container p {
	margin-top: 0px;
}

.middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.5px;
}

.user-img {
	border: 7px solid #fff;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	margin-top: -64px;
}

.middle span {
	color: hsl(227, 10%, 46%);
	font-weight: 400;
}

.bottom {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid #dedede;
}

.stats {
	text-align: center;
	margin: 40px 10px;
}

.stats > p,
.stats > h2 {
	margin: 0;
}
